@use "/styles/shared/global";

.container {
  margin: 0;
  padding: global.rem(16) 0 0;
  .listTitle {
  }
  .list {
    &.columns {
      display: flex;
      column-gap: global.rem(32);
    }
  }

  dt {
    color: global.$color-grey;
    @include global.fontSize(20, 24);
    font-weight: 300;
    @include global.mq("tablet-wide") {
      @include global.fontSize(14, 20);
    }
  }

  p {
    margin: 0;
  }
}
