@use "/styles/shared/global";

.header {
  width: 100%;
  z-index: global.$zIndex-4--nav;
  position: relative;
  // opacity: 0;
  // background-color: red;
  opacity: 0;
  // transform: translateY(-100%);
}
.nav {
  padding: global.rem(32) 0;
  width: 100%;
  @include global.mq("phablet") {
    padding: global.rem(16) 0;
  }
  &Content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .iconLogo {
      display: block;
      @include global.fontSize(64, 64);
    }
    .iconAbout {
      display: block;
      @include global.fontSize(24, 24);
    }
  }
}
