@use "/styles/shared/global";

.container {
  position: relative;
  .image__wrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .caption {
    p {
      @extend %body--small;
    }
  }
}
