@use "/styles/shared/global";
.drawer {
  overflow-y: scroll;
}
.header {
  @include global.size(100%, global.rem(134));
  align-items: center;
  display: flex;
  justify-content: end;
  padding: global.rem(12) 0 0;
  position: relative;
  z-index: 2;
  .iconClose {
    @include global.fontSize(20, 30);
    position: relative;
    z-index: 1;
  }
  @include global.mq("phablet") {
    @include global.size(100%, global.rem(80));
  }
}

.content {
  color: global.$color-white;
  position: relative;
  z-index: 1;
  overflow-y: scroll;

  // Text content
  .body__content__copy {
    .columns {
      display: flex;
      gap: global.rem(48);
      div {
        flex: 0.75;
        p {
          @extend %body--medium;
          color: global.$color-white;
        }
      }
      div:not(:last-child) {
        flex: 1;
      }

      @include global.mq("desktop") {
        flex-direction: column;
      }
    }
  }
}

.drawerFooter {
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: global.rem(24) 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  > * {
    color: global.$color-white;
    @include global.fontSize(20, 24);
    @include global.mq("tablet-wide") {
      @include global.fontSize(10, 22);
    }
  }

  @include global.mq("tablet-wide") {
    position: relative;
  }
}
