@use "/styles/shared/global";

.container {
  position: relative;
  width: 100%;

  & > div:first-of-type {
    position: relative;
    padding: 0;
    width: 100%;
    padding-top: 56.25%;
    iframe {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .caption {
    p {
      @extend %body--small;
    }
  }
}
